<nav class="navbar navbar-expand-lg navbar-light bg-danger">
  <div class="container-fluid">
    <img src="<%= asset_path("logo.png") %>" width="12%" height="60vh">
    <%#= link_to "EventClub", homes_path, class:"navbar-brand" %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "HOME", homes_path, class:"nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PAGES
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><%= link_to "-HOME", homes_path, class:"dropdown-item" %></li>
            <li><%= link_to "-ABOUT US", about_us_path, class:"dropdown-item" %></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li><%= link_to "-SPEAKEARS", speakear_path, class:"dropdown-item" %></li>
            <li><%= link_to "-SCHEDULE", schedule_path, class:"dropdown-item" %></li>
            <li><%= link_to "-TICKETS", ticket_path, class:"dropdown-item" %></li>
            <li><%= link_to "-BLOG", blog_path, class:"dropdown-item" %></li>
            <li><%= link_to "-CONTACT", contact_us_path, class:"dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "EVENTS", event_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "SPEAKEARS", speakear_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "BLOG", blog_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "CONTACT", contact_us_path, class:"nav-link" %>
        </li>
      </ul>
      <form class="d-flex">
        <%= stylesheet_link_tag "custom", "data-turbo-track": "reload" %>
        <button class="button" style="vertical-align:middle"><span>GET TICKETS</span></button>
      </form>
    </div>
  </div>
</nav>